<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookswap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CommentActivity"></activity>
        <activity android:name=".OtherRateActivity" />
        <activity android:name=".OtherProfileActivity" />
        <activity android:name=".SelfRateActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SelfProfileActivity" />
        <activity android:name=".ProfileSearchActivity"
            android:theme="@style/SearchTheme"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>